@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://github.com/sakjung/sakjung.github.io/tree/master/fonts/BMHANNAAir_ttf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
